DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}

MYSQL_USER=root
MYSQL_PASSWORD=Salvage123@
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=wallet
JWT_SECRET=289